<h1>Зарегистрированные пользователи</h1>

<p class="pull-right">Здравствуйте, {{currentUser.email}}! <a [routerLink]="['/users/login']">Выйти</a></p>

<p *ngIf="!users"><em>Загрузка...</em></p>

<table class='table' *ngIf="users">
  <thead>
    <tr>
      <th>Id</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.email }}</td>
      <td><a (click)="deleteUser(user.id)" class="btn btn-primary">Удалить</a></td>
    </tr>
  </tbody>
</table>